@font-face {
    font-family: "count";
    src: url("count.eot"); /* IE9 */
    src: url("count.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("count.woff") format("woff"), /* chrome、firefox */
    url("count.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("count.svg#count") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


