@charset "utf-8";
html,
body,
div,
p,
form,
input,
button,
select,
img {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}
body {
  max-width: 640px;
  margin: 0px auto;
  height: 100%;
  font-family: Helvetica;
  font-size: 1rem;
  background: #fff;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) and (max-width: 384px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 385px) and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 376px) and (max-width: 420px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 421px) and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 601px) {
  html {
    font-size: 22px;
  }
}
a {
  text-decoration: none;
}
i,
strong,
em {
  font-weight: normal;
  font-style: normal;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
body > img:last-of-type {
  display: none;
}
:-moz-placeholder {
  color: #787878;
  font-weight: lighter;
}
::-webkit-input-placeholder {
  color: #787878;
  font-weight: lighter;
}
:-ms-input-placeholder {
  color: #787878;
  font-weight: lighter;
}
::placeholder {
  color: #787878;
  font-weight: lighter;
}
/*去掉苹果设备input_CSS样式*/
input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Helvetica;
  outline: none;
}
.actCon {
  position: relative;
  background: #fff;
  overflow: hidden;
  color: #313131;
}
.actFlow {
  position: relative;
}
.actFlowBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.onlineZx {
  padding: 2.14285714rem 5.33% 0;
}
.onlineZx.two {
  padding: 1.07142857rem 5.33% 0;
}
.onlineZx.three {
  padding: 1.42857143rem 5.33%;
}
.onlineZx.four {
  padding: 0 5.33% 1.42857143rem;
}
.tabsThumb {
  margin: 0 0 0.14285714rem;
  width: 100%;
  display: table;
  height: 2.57142857rem;
  text-align: center;
}
.tabsThumb li {
  display: table-cell;
  width: 33.33%;
  padding-left: 0.14285714rem;
  vertical-align: top;
  font-size: 1.14285714rem;
  font-weight: lighter;
}
.tabsThumb li a {
  display: block;
  border-radius: 0.14285714rem;
  width: 100%;
  height: 2.57142857rem;
  line-height: 2.57142857rem;
  color: #fff;
  background: #313131;
}
.tabsThumb li.active a {
  color: #313131;
  font-weight: bold;
  background: #ffe356;
}
.tabsThumb li:first-child,
.pageTwo .tabsThumb li:first-child {
  padding-left: 0;
}
.downTabSwiper .tabsThumb li {
  width: 25%;
  font-size: 1rem;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 40%;
  width: 1.5rem;
}
.swiper-button-next {
  right: 2%;
}
.swiper-button-prev {
  left: 2%;
}
.copyright {
  padding: 1.07142857rem 0 5rem;
  text-align: center;
  font-size: 0.71428571rem;
  color: #acacac;
  background: #fff;
}
.btnFixBottom {
  position: fixed;
  left: 0;
  bottom: -1px;
  z-index: 3;
  width: 100%;
  height: 3.57142857rem;
  text-align: center;
}
.btnFixBottom a {
  display: block;
  height: 3.57142857rem;
  color: #ffa735;
  font-size: 1.14285714rem;
  line-height: 3.57142857rem;
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  overflow: hidden;
}
.onlineZx img {
  display: inline-block;
  -webkit-animation: scale 0.5s linear infinite alternate;
  -o-animation: scale 0.5s linear infinite alternate;
  animation: scale 0.5s linear infinite alternate;
}
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scale {
  from {
    -moz-transform: scale(1.05);
  }
  to {
    -moz-transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
.actPop .redBagForm .order {
  margin: 0;
  border-radius: 0 0 0.35714286rem 0.35714286rem;
  background: #fff;
  width: 100%;
}
.actPop .redBagForm .order .number {
  padding: 0.35714286rem 0 1.07142857rem;
  text-align: center;
}
.actPop .redBagForm .order .number span {
  color: #e7391e;
}
.actPop .redBagForm select {
  background: url("one/position.png") no-repeat 1.03571429rem center / 1.14285714rem, url("one/select.png") no-repeat right center / 0.92857143rem #efefef;
  background-origin: border-box, content-box;
  -webkit-background-origin: border-box, content-box;
  line-height: 2rem;
}
.actPop .redBagForm select:disabled {
  background: url("one/position.png") no-repeat 1.03571429rem center / 1.14285714rem #efefef;
  background-origin: border-box;
  -webkit-background-origin: border-box;
}
.actPop .redBagForm .user {
  background: url("one/user.png") no-repeat 0.92857143rem center / 1.35714286rem;
}
.actPop .redBagForm .phone {
  background: url("one/phone.png") no-repeat 1.03571429rem center / 1rem;
}
.actPop .redBagForm p {
  position: relative;
  margin: 0 1.07142857rem 0.71428571rem;
  padding: 0;
  height: 3.21428571rem;
}
.actPop .redBagForm p:before {
  content: "";
  display: block;
  position: absolute;
  left: 3.28571429rem;
  top: 0.85714286rem;
  z-index: 0;
  width: 1px;
  height: 1.78571429rem;
  background: #999;
}
.actPop .redBagForm p:last-of-type:before {
  display: none;
}
.actPop .redBagForm p input,
.actPop .redBagForm p select {
  padding: 0.71428571rem 0.71428571rem 0.71428571rem 4.28571429rem;
  width: 100%;
  height: 3.42857143rem;
  border-radius: 0.17857143rem;
  font-size: 1rem;
  color: #222;
  border: 1px solid #eee;
  background-color: transparent;
}
.actPop .redBagForm button {
  display: block;
  width: 100%;
  height: 3.42857143rem;
  border-radius: 0.17857143rem;
  color: #222;
  font-size: 1.28571429rem;
  font-weight: bolder;
  background: #f9b21a;
}
.actPop .redBagForm .tips {
  color: #999;
  font-size: 0.85714286rem;
  text-align: center;
}
.actPop .close {
  display: block;
  margin: 1rem auto 0;
  width: 2.858rem;
}
.actPop .orderScu,
.actPop .orderRedScu {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.redBagForm {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 84.5%;
  max-width: 635px;
  background: none;
}
.redBagForm .hd {
  position: relative;
}
.redBagForm .hd img {
  border-radius: 0.35714286rem 0.35714286rem 0 0;
}
.redBagForm .hd .money {
  position: absolute;
  left: 0;
  top: 28%;
  z-index: 1;
  width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.redBagForm .order {
  padding: 0.71428571rem 0 1.42857143rem;
}
.redBagForm .order input,
.redBagForm .order select {
  border: 1px solid #eee;
  background-color: transparent;
}
.rightRedBag {
  position: fixed;
  right: 0.71428571rem;
  bottom: 20%;
  z-index: 5;
  width: 3.71428571rem;
  -webkit-animation: swing 0.3s ease-in-out infinite alternate;
  -o-animation: swing 0.3s ease-in-out infinite alternate;
  animation: swing 0.3s ease-in-out infinite alternate;
}
@-webkit-keyframes swing {
  from {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
  }
}
@keyframes swing {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
/*# sourceMappingURL=activitys.css.map */