@charset "utf-8";
html,
body,
div,
p,
form,
input,
button,
select,
img {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}
body {
  max-width: 750px;
  margin: 0px auto;
  height: 100%;
  font-family: Helvetica;
  font-size: 1rem;
  color: #333;
  background: #f1f1f1;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 376px) and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 601px) {
  html {
    font-size: 24px;
  }
}
a {
  text-decoration: none;
}
i,
strong,
em {
  font-weight: normal;
  font-style: normal;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
body > img:last-of-type {
  display: none;
}
:-moz-placeholder {
  color: #CDCFD0;
  font-size: 1rem;
}
::-webkit-input-placeholder {
  color: #CDCFD0;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: #CDCFD0;
  font-size: 1rem;
}
::placeholder {
  color: #CDCFD0;
  font-size: 1rem;
}
/*去掉苹果设备input_CSS样式*/
input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Helvetica;
  outline: none;
}
input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.actCon {
  position: relative;
  height: 100%;
  background: #f1f1f1;
}
.errorTips {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -3rem;
  font-size: 1.143rem;
  color: #fff;
  z-index: 100;
  text-align: center;
}
.errorTips p {
  display: inline-block;
  min-height: 3rem;
  line-height: 2rem;
  max-width: 580px;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}
.actFlow {
  position: relative;
}
.actFlowBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.order {
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.35714286rem;
}
.order .hd {
  text-align: center;
  font-size: 0.85714286rem;
}
.order .hd span {
  color: #d73a22;
  margin: 0 0.21428571rem;
}
.order p {
  position: relative;
  margin: 0 0 0.71428571rem;
}
.order p:before {
  content: "";
  display: block;
  position: absolute;
  left: 3.28571429rem;
  top: 0.78571429rem;
  z-index: 0;
  width: 1px;
  height: 1.78571429rem;
  background: rgba(102, 102, 102, 0.3);
}
.order input,
.order select {
  padding: 0.71428571rem 0.71428571rem 0.71428571rem 2.85714286rem;
  width: 100%;
  height: 3.14285714rem;
  border-radius: 0.17857143rem;
  font-size: 1rem;
  color: #222;
  border: 0;
}
.order select {
  background: url("city.png") no-repeat 1.03571429rem center / 1.14285714rem, url("select.png") no-repeat right center / 0.92857143rem #efefef;
  background-origin: border-box, content-box;
  -webkit-background-origin: border-box, content-box;
  line-height: 1;
}
.order select:disabled {
  background: url("city.png") no-repeat 1.03571429rem center / 1.14285714rem #efefef;
  background-origin: border-box;
  -webkit-background-origin: border-box;
}
.order i {
  position: absolute;
  top: 0;
  right: 0.71428571rem;
  display: block;
  line-height: 3.21428571rem;
}
.order .area {
  background: url("area.png") no-repeat 0.89285714rem center / 1.46428571rem #efefef;
}
.order .user {
  background: url("user.png") no-repeat 0.92857143rem center / 1.35714286rem #efefef;
}
.order .phone {
  background: url("phone.png") no-repeat 1.03571429rem center / 1rem #efefef;
}
.order button {
  display: block;
  width: 100%;
  height: 3.21428571rem;
  border-radius: 0.17857143rem;
  color: #fff;
  font-size: 1.28571429rem;
  font-weight: bold;
  background: #ff670c;
}
.order .tips {
  margin-top: 0.71428571rem;
  color: #999;
  font-size: 0.71428571rem;
  text-align: center;
}
.order.topOrder {
  margin: -2.85714286rem 1.07142857rem 1.42857143rem;
  padding: 1.07142857rem 1.42857143rem 1.92857143rem;
  background: #fff;
  border-radius: 0.71428571rem;
  overflow: hidden;
}
.order.topOrder .jsq {
  padding-right: 0.71428571rem;
  height: 4.28571429rem;
  line-height: 4.28571429rem;
  background: #4d4d4d;
  text-align: right;
  border-radius: 0.17857143rem;
}
.order.topOrder .jsq img {
  height: 2.35714286rem;
}
.order.topOrder p:before {
  left: 3.07142857rem;
}
.order.topOrder p:first-of-type {
  margin-top: 1.07142857rem;
}
.order.topOrder p input,
.order.topOrder p select {
  padding-left: 3.92857143rem;
  border-radius: 0.17857143rem;
}
.styleImg,
.sixCroe {
  padding: 0 1.07142857rem 0 0.35714286rem;
  overflow: hidden;
}
.styleImg li,
.sixCroe li {
  float: left;
  width: 50%;
  margin-bottom: 0.71428571rem;
  padding-left: 0.71428571rem;
}
.sixCroe li img {
  border-radius: 0.71428571rem;
  box-shadow: 0 0.35714286rem 0.71428571rem rgba(102, 102, 102, 0.05);
}
.copyRight {
  margin: 0.71428571rem auto 1.78571429rem;
  color: #848281;
  text-align: center;
  font-size: 0.714rem;
}
/*# sourceMappingURL=activity.css.map */