@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}

body {
    max-width: 750px;
    margin: 0px auto;
    height: 100%;
    font-family: "微软雅黑";
    background: #fff;
    font-size: 1rem;
    color: #333;
}

@media screen and (max-width: 320px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 14px
    }
}

@media screen and (min-width: 376px) and (max-width: 500px) {
    html {
        font-size: 16px
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    html {
        font-size: 18px
    }
}

@media screen and (min-width: 601px) {
    html {
        font-size: 24px
    }
}

a {
    text-decoration: none;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

body > img:last-of-type {
    display: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

:-moz-placeholder {
    color: #b6b6b6;
}

::-webkit-input-placeholder {
    color: #b6b6b6;
}

:-ms-input-placeholder {
    color: #b6b6b6;
}

::placeholder {
    color: #b6b6b6;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: transparent;
}

input[type=radio] {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/*去掉苹果设备input_CSS样式*/
input, button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "微软雅黑";
    outline: none;
}

.actCon {
    position: relative;
    overflow: auto;
}

.actFlow {
    position: relative;
}

.actFlowBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company {
    padding: 2.5rem 0 4.5rem;
    text-align: center;
    color: #666;
    font-size: .623rem;
}

.actCon_Time {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.actSec_Time_Time {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    line-height: 24px;
    width: 308px;
    margin: 0 auto;
}

.actSec_Time_Time span {
    float: left;
    font-size: 14px;
    margin-right: 4px;
}

.actSec_Time_Time i {
    font-style: normal;
    position: absolute;
    font-size: 14px;
}

.actSec_Time_Time i.T {
    left: 142px;
}

.actSec_Time_Time i.S {
    left: 193.5px;
}

.actSec_Time_Time i.F {
    left: 245px;
}

.actSec_Time_Time i.M {
    left: 298px;
}

.actSec_Time_Time .countdown {
    float: left;
}

.actCon_Time_Yue {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    width: 94.9%;
    margin: 0 auto;
    display: block;
}

.actCon_Time_Yue p {
    position: absolute;
    top: 47%;
    left: 55%;
    font-weight: bold;
}

.actCon_Time_Yue p span {
    color: #e60505;
    padding: 0 0.2rem;
}

.onlineZx{
    padding: 2rem 16.6% 0;
    text-align: center;
}
.onlineZx.one{
    padding-bottom: 2.5rem;
    background: #fc9e39;
}
.onlineZx.three{
    padding: 0.5rem 16.6% 2.5rem;
}

.onlineZx img {
    -webkit-animation: scale 0.5s linear infinite alternate;
    animation: scale 0.5s linear infinite alternate;
}

.fixBtmBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3.572rem;
    line-height: 3.572rem;
    text-align: center;
    font-weight: bold;
    background: rgba(0,0,0,0.7);
    font-size: 1.143rem;
}
.fixBtmBtn a{
    color: #ffa735;
}


@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(1.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes scale {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}





















